/*
   * @author:Sunaina Punyani
   * @date: 4th December, 2016
   * 
   *  css for dashboard.
   *
   */

#p.container-fluid{
	
	background-image:url('../images/dash_background.png');
	background-size:100%;
	padding-top:1.5%;
	padding-bottom:4%;
}
#a.col-sm-4{
	
	text-align:left;
	padding-top:3%;
	padding-left:2%;
}
.button{
    background-color:rgb(24,44,75);
    border-style:solid;
    border-width:medium;
    border-color:rgb(24,44,75);
    border-radius:10px;
    color:#FFFFFF;
    padding: 8px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width:100%;
}

.button:hover{

  width:100%;
  background-color:rgb(14,40,41);
  color:white;
  border-style:solid;
  border-width:medium;
  border-color:rgb(14,40,41);
  border-radius:10px;
}
#tile.button
{
  background-color:rgb(0,166,0);
    border-style:solid;
    border-width:medium;
    border-color:rgb(0,166,0);
    border-radius:10px;
    color:#FFFFFF;
    padding: 8px 56px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    
}
#tile.button:hover{

  background-color:rgb(0,128,0);
  color:white;
  border-style:solid;
  border-width:medium;
  border-color:rgb(0,128,0);
  border-radius:10px;
}
#tileb.button
{
  background-color:rgb(0,166,0);
    border-style:solid;
    border-width:medium;
    border-color:rgb(0,166,0);
    border-radius:10px;
    color:#FFFFFF;
    padding: 8px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#tileb.button:hover{

  background-color:rgb(0,128,0);
  color:white;
  border-style:solid;
  border-width:medium;
  border-color:rgb(0,128,0);
  border-radius:10px;
}
#tileb.button
{
  padding:8px 46px;
}
ul
{
  list-style-type:none;
  overflow:hidden;
  background-color:rgb(172,230,191);
  margin:0;
  padding-left:8.6%;

}
li
{
  float:left;
}
li a
{
  display:block;
  color:rgb(0,0,0);
  text-align:center;
  padding:14px 16px;
  font-family: 'Raleway', sans-serif;
  font-size:20px;
}
 
.transparent 
{
  display: inline;
  background-color:#FFFFFF;
  box-shadow:inset 0px 1px 0 rgba(0,0,0,.075);
}
.inline-block
{ display: inline-block;
padding-right: 1.5%;
padding-left: 1.5%;
padding-bottom:2%;
padding-top:2%;
 }
/*.raisedbox { 
  
    border: 1px solid #77aaff;
  box-shadow:  -1px 1px #77aaff,
     -2px 2px #77aaff,
     -3px 3px #77aaff,
     -4px 4px #77aaff,
     -5px 5px #77aaff;
}*/
#w.cube { 
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
   background: #fff;
  border-radius: 2px;
   margin: 20px;
  padding: 10px;
  min-width: 200px;
  min-height: 200px; 
}
#a.cube
{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: #fff;
  border-radius: 2px;
   margin: 20px;
  padding: 10px;
  min-width: 200px;
  min-height: 200px; 
}

#h.container
{
  padding-top: 2%;
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 2%;
}