/*
   * @author:Sunaina Punyani
   * @date: 4th December, 2016
   * 
   *  css for index page.
   *
   */

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
}

#p.container {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
}

.transparent {
    background-color: #FFFFFF;
    box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
}

#sign.btn-lg {
    border-radius: 10px;
    width: 100%;
}

#category_label {
    padding-top: 8px;
    color: rgb(83, 93, 94);
}

.img-circle {
    width: 100px;
}

hr {
    margin: 18px;
}

.block {
    border-color: rgb(40, 40, 40);
    border-style: solid none;
    border-width: 5px 0;
    margin-right: 48%;
    margin-left: 48%;
}

.page-scroll {
    align-self: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    color: ghostwhite;
}